body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url("http://localhost:8080/images/file.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1500px;
  padding: 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
  max-height: 80vh; /* Set maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

h2 {
  color: #333;
  border-bottom: 1px solid #ccc;
}

label {
  font-weight: bold;
}

.form-group {
  width: 400px;
}

textarea {
  resize: none;
}

input[type="submit"],
.btn-danger {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
}

input[type="submit"]:hover,
.btn-danger:hover {
  background-color: #45a049;
}

button {
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #c9302c;
}
